<div>
    <h1>Detail view for {{device.name}}</h1>

    <p class="device" ng-repeat="c in device.capabilities">
        {{c}}<br/>
    </p>

    <p><input type="text" ng-model="color" ng-change="setColor(color)"/></p>

    <p>

    <div style="width:100%" ng-repeat="capability in device.capabilities">
        <p>{{capability.name}}</p>

        <p ng-repeat="runmode in capability.runModeses">
            <input id="{{runmode}}" type="submit" ng-click="setRunmode(runmode)" value="{{runmode}}"/>

        <div ng-app="{{runmode}}">

        </div>
    </p>


</div>
</p>

<p>

<div style="width:100%">
    <div ng-click="setColor('ff0000')" style="width:100px;height:100px;background-color: #ff0000"></div>
    <div ng-click="setColor('ffff00')" style="width:100px;height:100px;background-color: #ffff00"></div>
    <div ng-click="setColor('00ff00')" style="width:100px;height:100px;background-color: #00ff00"></div>
    <div ng-click="setColor('0000ff')" style="width:100px;height:100px;background-color: #0000ff"></div>
    <div ng-click="setColor('00ffff')" style="width:100px;height:100px;background-color: #00ffff"></div>
</div>
</p>
</div>

